@model ShoppingCartViewModel

<h3>
    Kurv
</h3>

<div class="row g-3">
    <div class="col-8">
            @if (Model.ShoppingCart.ShoppingCartItems.Count() == 0)
            {
                <div class="alert alert-warning"><h4>Din kurv er tom!</h4></div>
            }
            else
            {
                foreach (var shoppingCartItem in Model.ShoppingCart.ShoppingCartItems)
                {
                    <partial name="_AnimalCardForCart" model="shoppingCartItem.Animal" />
                }
                <div class="mb-4">
                    <hr />
                    <h4 class="text-secondary fw-bolder mb-0 ">Total DKK: @Model.ShoppingCartTotal</h4>
                    <p class="p-0 text-secondary fst-italic">inkl. moms</p>
                </div>
            }
           

     </div>
</div>