@model IEnumerable<AnimalVM>

@{
    ViewData["Title"] = "Vores Dyr";
}

<h1>Vores Dyr</h1>
<hr />

@if (Model != null && Model.Count() > 0)
{
   <div class="container">

       <div class="row row-cols-lg-3">

           @foreach (var animal in @Model) {
                <div class="col">
                    <div class="card">
                        @if (@animal.ImageId != null)
                        {
                            <img class="card-img" src="~/img/animals/@animal.ImageId">
                        }
                        <div class="card-body">
                       <h4 class="card-title">@animal.AnimalName</h4>
                       <p class="card-text">@animal.Notes</p>
                            <p class="card-subtitle">Pris:  DKK @animal.Price inkl.moms</p>
                   </div>
               </div>
           </div>

           }
       </div>
   </div>


}
else
{
    <h4 class="text-warning">Vi har p.t. ikke nogen dyr der mangler et hjem! - Kig tilbage på et senere tidspunkt.</h4>
}