@model IEnumerable<AnimalVM>

@{
    ViewData["Title"] = "Vores Dyr";
}

<h4 class=" bg-light text-secondary py-4 px-3 rounded-2  my-4  ms-2">Vores dyr</h4>

@if (Model != null && Model.Count() > 0)
{
   <div class="container">

       <div class="row g-4">

           @foreach (var animal in @Model) {
                <partial name="_AnimalCard" model="animal" />
           }
       </div>
   </div>
}
else
{
    <h4 class="text-warning">Vi har p.t. ikke nogen dyr der mangler et hjem! - Kig tilbage på et senere tidspunkt.</h4>
}